<!doctype html>

<title>Imgsible</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet/less" type="text/css" href="/css/style.less">
<link href='http://fonts.googleapis.com/css?family=Fredoka+One|Alegreya+Sans:400,700' rel='stylesheet' type='text/css'>
<script src='//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.3/less.min.js'></script>
<script src="http://fb.me/react-with-addons-0.10.0.js"></script>

<script>
window.preloadData = <%- JSON.stringify(preloadData) %>;
</script>

<div id='app'><%- app %></div>

<script src='/bundle.js'></script>
